In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/home/apeters/Documents/Research/ShippingEmissionsProject/BulkShipDev/src'

In [3]:
gpd = (
    # pd.read_csv("./data/potportcalls_speed_EU.csv")
    pd.read_csv("../../SharedData/Bulk/potportcalls_speed_EU_Localtest.csv")
    # .drop(columns=["geometry"])
)
len(gpd)
print(gpd.head())

       imo  pot_trip  latitude  longitude ISO_3digit   EU
0 -7926162        59  9.033334 -80.695000        PAN  0.0
1 -7926162        67  9.036667 -80.688332        PAN  0.0
2 -7926162        79  9.031833 -80.688667        PAN  0.0
3 -7926162       164  9.026667 -80.713333        PAN  0.0
4 -7926162       173  9.027273 -80.717422        PAN  0.0

In [4]:
gpd_CC = (
    pd.read_csv("./data/potportcalls_speed_EU.csv")
    # .drop(columns=["geometry"])
)
len(gpd_CC)
print(gpd_CC.head())
gpd_imos = gpd_CC["imo"].drop_duplicates()
gpd_imos

       imo  pot_trip   latitude  longitude ISO_3digit   EU
0 -9268942        17 -52.758640 -74.164162        CHL  0.0
1 -9205615        75 -49.155926 -74.366585        CHL  0.0
2 -9496941        98 -49.151718 -74.390610        CHL  0.0
3 -9241504        31 -48.764244 -74.362297        CHL  0.0
4 -9754094        30 -48.753441 -74.357834        CHL  0.0

0        -9268942
1        -9205615
2        -9496941
3        -9241504
4        -9754094
           ...
823781   -9036430
824896   -9363687
829414    9727053
831870   -9708643
833433    9323871
Name: imo, Length: 14161, dtype: int64

In [ ]:
(
    gpd
    .merge(
        gpd_CC,
        how="outer",
        on=["imo", "pot_trip"],
        indicator=True,
        suffixes=("_gpd", "_gpd_CC")
    )
    .value_counts("_merge")
)

_merge
right_only    841963
both            1227
left_only          0
Name: count, dtype: int64

In [6]:
qgis = (
    pd.read_csv("./data/potportcalls_speed_EU_qgis.csv", low_memory=False)
    .drop(columns=["fid", "id"])
    .query("imo.isin(@gpd_imos)")
)
len(qgis)
qgis.head()

       imo  pot_trip   latitude   longitude ISO_3digit  EU
0 -9179696       133  22.781086  116.097900        CHN   0
1 -9221190        16  22.817719  116.173347        CHN   0
2  9159555        99  22.839308  116.102600        CHN   0
3 -9208502        62  22.889664  116.408730        CHN   0
4 -9226671       174  22.753071  115.805969        CHN   0

In [7]:
merged = (
    gpd_CC
    .merge(
        qgis,
        how="outer",
        on=["imo", "pot_trip"],
        indicator=True,
        suffixes=("_gpd", "_qgis")
    )
)

merged["lat"] = merged["latitude_gpd"].combine_first(merged["latitude_qgis"])
merged["lon"] = merged["longitude_gpd"].combine_first(merged["longitude_qgis"])
merged["_merge"] = merged["_merge"].replace({
    "left_only": "gpd_only",
    "right_only": "qgis_only"
})
merged.to_csv("./data/compare_qgis_gpd_portcalls.csv", index=False)

/tmp/ipykernel_2203405/952623221.py:14: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  merged["_merge"] = merged["_merge"].replace({

In [8]:
merged.value_counts("_merge")

_merge
both         838146
qgis_only     14110
gpd_only       5044
Name: count, dtype: int64

In [9]:
merged.query("_merge == 'both'")

,imo,pot_trip,latitude_gpd,longitude_gpd,ISO_3digit_gpd,EU_gpd,latitude_qgis,longitude_qgis,ISO_3digit_qgis,EU_qgis,_merge,lat,lon
0,-9957749,4,10.361451,107.242905,VNM,0.0,10.361451,107.242905,VNM,0.0,both,10.361451,107.242905
1,-9957749,5,10.394067,107.016716,VNM,0.0,10.394067,107.016716,VNM,0.0,both,10.394067,107.016716
2,-9957749,6,10.329042,107.051369,VNM,0.0,10.329042,107.051369,VNM,0.0,both,10.329042,107.051369
3,-9957749,8,10.436783,106.967331,VNM,0.0,10.436783,106.967331,VNM,0.0,both,10.436783,106.967331
5,-9957749,10,10.349178,107.049088,VNM,0.0,10.349178,107.049088,VNM,0.0,both,10.349178,107.049088
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857295,9917490,1,31.715370,121.110840,CHN,0.0,31.715370,121.110840,CHN,0.0,both,31.715370,121.110840
857296,9917490,3,31.720469,121.110031,CHN,0.0,31.720469,121.110031,CHN,0.0,both,31.720469,121.110031
857297,9917490,9,-23.969328,-46.289677,BRA,0.0,-23.969328,-46.289677,BRA,0.0,both,-23.969328,-46.289677
857298,9917490,21,30.433411,49.057728,IRN,0.0,30.433411,49.057728,IRN,0.0,both,30.433411,49.057728
857299,9917490,25,-32.773880,-60.714172,ARG,0.0,-32.773880,-60.714172,ARG,0.0,both,-32.773880,-60.714172

In [10]:
merged.query("_merge == 'gpd_only'").head(30)

,imo,pot_trip,latitude_gpd,longitude_gpd,ISO_3digit_gpd,EU_gpd,latitude_qgis,longitude_qgis,ISO_3digit_qgis,EU_qgis,_merge,lat,lon
291,-9914371,3,36.117825,129.481506,KOR,0.0,NaN,NaN,NaN,NaN,gpd_only,36.117825,129.481506
478,-9912074,7,34.371651,133.434998,JPN,0.0,NaN,NaN,NaN,NaN,gpd_only,34.371651,133.434998
605,-9911587,29,56.133476,10.284895,DNK,1.0,NaN,NaN,NaN,NaN,gpd_only,56.133476,10.284895
1310,-9907847,16,67.548988,-164.189957,USA,0.0,NaN,NaN,NaN,NaN,gpd_only,67.548988,-164.189957
1365,-9906477,4,18.584999,-92.768333,MEX,0.0,NaN,NaN,NaN,NaN,gpd_only,18.584999,-92.768333
2126,-9899399,33,36.104618,129.482590,KOR,0.0,NaN,NaN,NaN,NaN,gpd_only,36.104618,129.482590
2154,-9898759,19,-2.344807,-44.309643,BRA,0.0,NaN,NaN,NaN,NaN,gpd_only,-2.344807,-44.309643
3176,-9892688,14,41.071445,1.298319,ESP,1.0,NaN,NaN,NaN,NaN,gpd_only,41.071445,1.298319
3264,-9891907,30,15.839382,-88.618149,GTM,0.0,NaN,NaN,NaN,NaN,gpd_only,15.839382,-88.618149
3312,-9891866,5,42.762512,132.968796,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,42.762512,132.968796
3376,-9891012,54,60.036667,29.398333,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,60.036667,29.398333
3439,-9890915,46,-38.322048,141.694992,AUS,0.0,NaN,NaN,NaN,NaN,gpd_only,-38.322048,141.694992
3926,-9890264,22,0.520555,117.696655,IDN,0.0,NaN,NaN,NaN,NaN,gpd_only,0.520555,117.696655
4039,-9889693,74,42.661701,132.984253,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,42.661701,132.984253
4632,-9888625,56,54.717243,-5.546723,GBR,1.0,NaN,NaN,NaN,NaN,gpd_only,54.717243,-5.546723
5114,-9885439,123,49.181671,141.991669,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,49.181671,141.991669
5310,-9885013,38,48.347828,-123.363739,CAN,0.0,NaN,NaN,NaN,NaN,gpd_only,48.347828,-123.363739
5734,-9883716,5,48.350109,-123.329918,CAN,0.0,NaN,NaN,NaN,NaN,gpd_only,48.350109,-123.329918
6130,-9883352,12,22.263680,91.721306,BGD,0.0,NaN,NaN,NaN,NaN,gpd_only,22.263680,91.721306
6394,-9883106,16,-12.017092,-77.192307,PER,0.0,NaN,NaN,NaN,NaN,gpd_only,-12.017092,-77.192307
6502,-9883065,16,57.685074,10.676003,DNK,1.0,NaN,NaN,NaN,NaN,gpd_only,57.685074,10.676003
6587,-9883053,73,54.460258,18.680836,POL,1.0,NaN,NaN,NaN,NaN,gpd_only,54.460258,18.680836
6852,-9882475,2,31.588001,121.322357,CHN,0.0,NaN,NaN,NaN,NaN,gpd_only,31.588001,121.322357
6961,-9882279,67,60.090530,29.355196,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,60.090530,29.355196
6983,-9882061,10,60.039917,29.410774,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,60.039917,29.410774
7843,-9880867,43,35.425945,139.848770,JPN,0.0,NaN,NaN,NaN,NaN,gpd_only,35.425945,139.848770
8039,-9880295,34,46.558575,31.121061,UKR,0.0,NaN,NaN,NaN,NaN,gpd_only,46.558575,31.121061
8047,-9880295,45,46.555969,31.097277,UKR,0.0,NaN,NaN,NaN,NaN,gpd_only,46.555969,31.097277
8088,-9880283,50,49.110001,140.406647,RUS,0.0,NaN,NaN,NaN,NaN,gpd_only,49.110001,140.406647
8200,-9880116,25,51.320763,-3.386545,GBR,1.0,NaN,NaN,NaN,NaN,gpd_only,51.320763,-3.386545

In [11]:
merged.query("_merge == 'qgis_only'").head(30)

,imo,pot_trip,latitude_gpd,longitude_gpd,ISO_3digit_gpd,EU_gpd,latitude_qgis,longitude_qgis,ISO_3digit_qgis,EU_qgis,_merge,lat,lon
4,-9957749,9,NaN,NaN,NaN,NaN,10.277464,107.068634,VNM,0.0,qgis_only,10.277464,107.068634
18,-9957749,31,NaN,NaN,NaN,NaN,10.277289,107.080490,VNM,0.0,qgis_only,10.277289,107.080490
21,-9957749,34,NaN,NaN,NaN,NaN,10.277264,107.067802,VNM,0.0,qgis_only,10.277264,107.067802
46,-9932103,5,NaN,NaN,NaN,NaN,22.148020,114.182205,CHN,0.0,qgis_only,22.148020,114.182205
113,-9922005,5,NaN,NaN,NaN,NaN,1.274633,103.942726,SGP,0.0,qgis_only,1.274633,103.942726
170,-9920057,4,NaN,NaN,NaN,NaN,33.690170,132.534470,JPN,0.0,qgis_only,33.690170,132.534470
261,-9916290,4,NaN,NaN,NaN,NaN,1.283277,103.968475,SGP,0.0,qgis_only,1.283277,103.968475
336,-9913688,8,NaN,NaN,NaN,NaN,20.860302,107.116135,VNM,0.0,qgis_only,20.860302,107.116135
337,-9913688,9,NaN,NaN,NaN,NaN,1.290002,103.991272,SGP,0.0,qgis_only,1.290002,103.991272
377,-9913652,9,NaN,NaN,NaN,NaN,2.795874,101.307495,MYS,0.0,qgis_only,2.795874,101.307495
448,-9913303,17,NaN,NaN,NaN,NaN,34.687424,134.780869,JPN,0.0,qgis_only,34.687424,134.780869
549,-9911654,19,NaN,NaN,NaN,NaN,5.190000,-4.066667,CIV,0.0,qgis_only,5.190000,-4.066667
550,-9911654,20,NaN,NaN,NaN,NaN,5.200388,-4.056807,CIV,0.0,qgis_only,5.200388,-4.056807
637,-9911410,28,NaN,NaN,NaN,NaN,1.275265,103.951202,SGP,0.0,qgis_only,1.275265,103.951202
653,-9910777,6,NaN,NaN,NaN,NaN,1.276945,103.963112,SGP,0.0,qgis_only,1.276945,103.963112
658,-9910765,5,NaN,NaN,NaN,NaN,1.269943,103.949394,SGP,0.0,qgis_only,1.269943,103.949394
661,-9910765,8,NaN,NaN,NaN,NaN,1.280867,103.962639,SGP,0.0,qgis_only,1.280867,103.962639
665,-9910741,4,NaN,NaN,NaN,NaN,1.268147,103.927925,SGP,0.0,qgis_only,1.268147,103.927925
874,-9909077,14,NaN,NaN,NaN,NaN,1.291747,103.987396,SGP,0.0,qgis_only,1.291747,103.987396
912,-9909065,59,NaN,NaN,NaN,NaN,1.289458,103.992065,SGP,0.0,qgis_only,1.289458,103.992065
965,-9908580,2,NaN,NaN,NaN,NaN,1.268463,103.933525,SGP,0.0,qgis_only,1.268463,103.933525
1031,-9908451,15,NaN,NaN,NaN,NaN,13.878015,-90.777451,GTM,0.0,qgis_only,13.878015,-90.777451
1036,-9908451,20,NaN,NaN,NaN,NaN,-12.026888,-77.200417,PER,0.0,qgis_only,-12.026888,-77.200417
1078,-9908437,20,NaN,NaN,NaN,NaN,9.454337,-79.876068,PAN,0.0,qgis_only,9.454337,-79.876068
1197,-9908281,15,NaN,NaN,NaN,NaN,1.281338,103.965683,SGP,0.0,qgis_only,1.281338,103.965683
1214,-9908279,13,NaN,NaN,NaN,NaN,-1.098773,-48.497414,BRA,0.0,qgis_only,-1.098773,-48.497414
1218,-9908279,18,NaN,NaN,NaN,NaN,1.291814,103.995903,SGP,0.0,qgis_only,1.291814,103.995903
1383,-9906300,22,NaN,NaN,NaN,NaN,-1.087460,-48.483219,BRA,0.0,qgis_only,-1.087460,-48.483219
1451,-9905629,7,NaN,NaN,NaN,NaN,1.287195,103.985123,SGP,0.0,qgis_only,1.287195,103.985123
1464,-9905617,8,NaN,NaN,NaN,NaN,1.273433,103.937973,SGP,0.0,qgis_only,1.273433,103.937973

In [12]:
qgis.query("abs(imo) == 9084229 and pot_trip == 51")

            imo  pot_trip   latitude  longitude ISO_3digit  EU
302296 -9084229        51  59.694153  28.426901        RUS   0

In [14]:
gpd_CC.query("abs(imo) == 9084229 and pot_trip == 51")

            imo  pot_trip   latitude  longitude ISO_3digit   EU
403226 -9084229        51  59.694153  28.426901        RUS  0.0